.footer {
    margin-top: 3rem;
    background-color: var(--color-primary);
    color: var(--color-white);
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 2rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.footer-logo {
    height: 12rem;
    justify-self: start;
}

.footer-column h4 {
    margin-bottom: 1rem;
}

.footer-column ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-column address {
    font-style: normal;
}

.footer-column a {
    color: var(--color-white);
    transition: color 300ms;
}

.footer-column a:hover {
    color: var(--color-secondary);
}

.footer-copyright {
    border-top: 1px solid var(--color-neutral);
    text-align: center;
}

.social-icons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}